@font-face {

	font-family: helveticaB;
	src: url(../fonts/HelveticaLTStd-Bold.otf);
}

@font-face {

	font-family: helveticaNeueLT;
	src: url(../fonts/HelveticaNeueLTCom-HvCn.ttf);
}

@font-face {

	font-family: robotoBlack;
	src: url(../fonts/Roboto-Black.ttf);
}

@font-face {

	font-family: robotoRegular;
	src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {

	font-family: helveticaL;
	src: url(../fonts/HelveticaNeueLTStdLt_1.otf);
}